<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title> Магазин одежды "Кошкин дом" </title>
        <link rel = "stylesheet" href = "static/light.css"/>
    </head>
    <body>
        <div class = "header">
            <h1> Кошкин Дом </h1> 
            <p>Здесь мы точно подберём тебе что-нибудь замур-р-рчательное!</p>
        </div>
        <div>{% block content %}{% endblock content %}</div>
    </body>
    <script>
        function getCookie(name) {
            let matches = document.cookie.match(new RegExp("(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }

        document.querySelector("select").addEventListener('change', function(e){
            if (document.querySelector("select").value == 0){
                document.cookie = "themeColor=light";
                document.querySelector("link").href = "static/light.css";
            }
            else{
                document.cookie = "themeColor=dark";
                document.querySelector("link").href = "static/dark.css";
            }
        })
    </script>
</html>