{% extends "base.html" %}
{% block content %}
    <p>Поздравляем, вы настроили страницу!</p>
    <div class = "container">
        <div class = "card">
            {% for note in clothes %}
                {% if note.style in request.COOKIES.favStyles %}  
                    {% for s in note.size %}
                        {% if s in request.COOKIES.favSizes %}
                            <h2>{{note.title}}</h2>
                            <p>{{note.size}}</p>
                            <img src={{note.src}}/>
                            <p>{{note.description}}</p>
                            <br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}